<%- include('partes/head') %>
  <link rel="stylesheet" href="./css/cadastroLogin.css">
  <main>
    <section class="background-radial-gradient overflow-hidden">
      <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
          <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
            <h1 class="my-5 display-5 fw-bold ls-tight" id="tituloUm">
              Seja bem Bem-Vindo <br />
              <span id="tituloDois">ao meu Portifólio</span>
          </h1>
            <p class="mb-4 opacity-70" id="textoDemonstrativo">
              Meu nome é Thiago, e desenvolvi esse Portifólio para mostrar um pouco mais
              do meu conhecimento em programação.
              Logo de cara você irar se deparar com a aba login, mais não se preocupe
              pois tanto o login quando o cadastro são simples. Ambos servem também para
              mostrar o meu conhecimento, não sera utilizado os dados cadastrados pois o email
              pode ser inventado!
              Des de já agradeço a atenção de vocês!!!
          </p>
          </div>

          <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
            <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
            <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

            <div class="card bg-glass">
              <div class="card-body px-4 py-5 px-md-5">
                <form method="post">
                  <div class="row">
                    </div>
                  </div>
                  <div class="form-outline mb-4" data-validate="Valid email is: a@b.c">
                    <input id="form3Example3" class="form-control" type="email" name="email" required />
                    <label class="form-label" for="form3Example3">Email</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input id="form3Example4" class="form-control" type="password"
                      pattern="^(?=.*[0-9]+.*)(?=.*[a-zA-Z]+.*)[0-9a-zA-Z]{6,}$"
                      title="A senha deve conter entre 6 a 8 caracteres, sendo ela composta por numeros e letras!"
                      name="senha" required />
                    <label class="form-label" for="form3Example4">Senha</label>
                  </div>

                  <% if(erroLogin){ %>
                    <p style="color: red;"> Email ou senha incorretos! </p>
                    <% } else{ %>

                      <% } %>
                        <button type="submit" class="btn btn-primary btn-block mb-4" id="btnLogin">
                          Entrar
                        </button>
                        <div class="text-center">
                          <p>ou siga nas redes:</p>
                          <button type="button" class="btn btn-link btn-floating mx-1">
                            <a href="https://www.linkedin.com/in/thiago-nunes-pucci-7220781a3" class="tile socialmedia"
                              title="Meu Linkedin"><i class="fa fa-linkedin"></i></a> </button>

                          <button type="button" class="btn btn-link btn-floating mx-1">
                            <a href="https://github.com/ThiagoNunesPucci" class="tile socialmedia" title="Meu Github"><i
                                class="fa fa-github"></i></a>
                          </button>

                          <button type="button" class="btn btn-link btn-floating mx-1">
                            <a href="https://www.instagram.com/thiagonunespucci/" class="tile socialmedia"
                              title="Meu Instagram"><i class="fa fa-instagram"></i></a>
                          </button>

                          <button type="button" class="btn btn-link btn-floating mx-1">
                            <a href="https://www.instagram.com/thiagonunespucci/" class="tile socialmedia"
                              title="Meu Instagram"><i class="fa fa-facebook-f"></i></a>
                          </button>
                          <div class="textCenter p-t-115">
                            <span class="txt1">
                              Não tem uma conta?
                            </span>
              
                            <a class="txt2" href="/cadastroUsuario">
                              Cadastre-se
                            </a>
                        </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->

  </main>
  </body>

  </html>
