<%- include('partes/head') %>
    <main>
        <link rel="stylesheet" href="./css/quizz.css">
        <div class="menuQuiz">
            <img src="imagens/iconQuiz2.gif">
            <!-- <p>Developer Qquiz!</p> -->
        </div>
        <div class="primeiroPainel">
            <label class="nomeDoJogador">Nick Name:</label>
            <input id="nomeDoJogador" type="text">
        </div>
        <div class="logadoQuiz"><a class="txt2" href="/quiz">Usar Meu nome ja logado</a></div>
        <div class="btn">
            <button type="button" class="btn btn-outline-light">Voltar</button>
            <button type="button" class="btn btn-outline-light">Jogar</button>
        </div>
    </main>
    </body>

    </html>