<link rel="stylesheet" href="css/styleBarraMenu.css">



<header>
    <div id="logoName">
        <img class="timlogo" src="imagens/icon5.png">
        <a class="" id="nome">

        </a>
    </div>

    <div class="nav-modal">
        <div class="blob"></div>
        <nav>
            <ul>
                <li><a href="#">JOGOS</a>
                    <ul>
                        <li><a href="/quizz">QUIZ</a></li>
                        <li><a href="#">TESTE</a></li>
                        <li><a href="#">TESTE</a></li>
                    </ul>
                </li>
                <li><a href="#">FERRAMENTAS</a>
                    <ul>
                        <li><a href="#">TESTE TESTE</a></li>
                        <li><a href="#">TESTE TESTE</a></li>
                        <li><a href="#">TESTE TESTE</a></li>
                    </ul>
                </li>
                <li><a href="#">CURRICULO</a></li>
                <li><a href="#">OUTOS</a>
                    <ul>
                        <li><a href="#">TESTE</a></li>
                        <li><a href="#">TESTE</a></li>
                        <li><a href="#">TESTE</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="head">
        <a class="nome home" style="cursor: pointer; " id="nomeHomePage" href="/">
            <% if(estaLogado) { %>
                <p class="nomeLogado" style="color: white;">
                    <%= nomeLogado %>&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
                <% } %>
        </a>
        <a href="https://www.linkedin.com/in/thiago-nunes-pucci-7220781a3" class="tile socialmedia"
            title="Meu Linkedin"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/ThiagoNunesPucci" class="tile socialmedia" title="Meu Github"><i
                class="fa fa-github"></i></a>
        <a href="https://www.instagram.com/thiagonunespucci/" class="tile socialmedia" title="Meu Instagram"><i
                class="fa fa-instagram"></i></a>
        <div class="tile burger" title="Meus projetos e mais">
            <div class="meat">
                <div class="line one"></div>
                <div class="line two"></div>
                <div class="line three"></div>
            </div>
        </div>
    </div>
    <!-- <section class="coloraa background-radial-gradient overflow-hidden" id="geral">
        <div class="coloraaa container px-4 py-5 px-md-5 text-center text-lg-start my-5">
            <div class="coloraaaa row gx-lg-5 align-items-center mb-5">
                <div id="borderText" class="coloraaaaa col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                    <h1 class="my-5 display-5 fw-bold ls-tight" id="tituloUm">
                        Seja bem Bem-Vindo <br />
                        <span id="tituloDois">ao meu Portifólio</span>
                    </h1>
                    <p class="mb-4 opacity-70" id="textoDemonstrativo">
                        Meu nome é Thiago, e desenvolvi esse Portifólio para mostrar um pouco mais
                        do meu conhecimento em programação.
                        Logo de cara você irar se deparar com a aba login, mais não se preocupe
                        pois tanto o login quando o cadastro são simples. Ambos servem também para
                        mostrar o meu conhecimento, não sera utilizado os dados cadastrados pois o email
                        pode ser inventado!
                        Des de já agradeço a atenção de vocês!!!
                    </p>
                </div>

                <div class="imgg col-lg-6 mb-5 mb-lg-0 position-relative">
                    <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                    <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                    <img class="card bg-glass" id="inicioImagen" src="../imagens/IMG_2543.png">


                </div>
            </div>
        </div>
    </section> -->
</header>
<main>

    <!-- Section: Design Block -->

</main>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="../js/jsHomepage.js"></script>